.approot {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  padding: 20px;
  line-height: 1.3;

  li {
    line-height: 1.5;
  }
}

.footer {
  grid-area: footer;
}

.chart-link {
  color: inherit;
  cursor: pointer;
}