<div class="approot">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="main">
    <div style="max-width: 900px; margin: 0 auto">
      <p-card header="À propos">
        <h2>Que propose ce site ?</h2>
        <p>Ce site a pour objectif de permettre aux utilisateurs de :</p>
        <ul>
          <li>
            Rechercher un personnage spécifique parmi ceux présents dans
            <strong>L'Évangile tel qu'il m'a été révélé</strong> de Maria
            Valtorta. <br />La recherche d'un personnage peut se faire par :
            <ul>
              <li>Son prénom ;</li>
              <li>Ses surnoms ;</li>
              <li>
                Les lieux qui le caractérisent le plus, souvent son lieu de
                résidence ;
              </li>
              <li>Son genre : homme ou femme ;</li>
              <li>
                Ses attributs : "Romain", "Sanhédriste", "Berger de la
                nativité", "Disciple", etc. ;
              </li>
            </ul>
          </li>
          <li>
            Visualiser les relations d'un personnage donné, qu'elles soient
            directes ou indirectes ;
          </li>
          <li>Obtenir un bref résumé d'un personnage ;</li>
          <li>
            Obtenir un lien vers un article plus détaillé pour un personnage
            donné ;
          </li>
          <li>
            Connaître l'ensemble des références où un personnage est "présent"
            dans l'EMV ;
          </li>
          <li>
            Connaître l'ensemble des références où un personnage est "nommé"
            dans l'EMV.
            <ul>
              <li>
                Quand nous disons qu'un personnage est "nommé", nous entendons
                par là qu'on en parle, mais qu'il n'est pas présent dans le
                chapitre ou la section en question.
              </li>
            </ul>
          </li>
        </ul>
        <h2>Un site en réflexion progressive</h2>
        <p>
          Ce site est en réflexion progressive. Beaucoup d'informations ne sont
          pas encore recensées, comme les références (présent ou seulement
          nommé) et les descriptions. Mais cela ne se limite pas à cela. De
          nombreux autres personnages restent encore à recenser.
        </p>
        <p>Nous alimenterons ce site progressivement.</p>
        <p>
          Si vous découvrez des erreurs dans les données ou dans l'application,
          dites-le-nous et nous les corrigerons.
        </p>
        <p>Nous vous souhaitons une bonne navigation !</p>
      </p-card>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
