<div class="approot">
  <div class="header">
    <app-header></app-header>
  </div>

  <div class="main">
    <div style="max-width: 900px; margin: 0 auto">
      <p-card header="Charte d'utilisation">
        <p style="font-style: italic">Dernière mise à jour : 19/06/2024</p>

        <p class="mb-5">
          Bienvenue sur personnages.indexvaltorta.fr. En accédant à ce site,
          vous acceptez de vous conformer aux termes et conditions suivants :
        </p>

        <h4>1. Accès au Site</h4>

        <p class="mb-5">
          Les utilisateurs sont autorisés à visiter et naviguer sur
          PersonnagesIndexValtortaFr sans restrictions. Vous pouvez explorer le
          site et utiliser les services disponibles conformément aux présentes
          conditions d'utilisation.
        </p>

        <h4>2. Propriété Intellectuelle</h4>

        <p class="mb-5">
          Tout le contenu présent sur ce site, y compris, mais sans s'y limiter,
          les textes, graphiques, logos, et images, est la propriété exclusive
          de PersonnagesIndexValtortaFr et est protégé par les lois sur la
          propriété intellectuelle. Toute utilisation non autorisée du contenu,
          y compris la copie, la modification, la distribution, la diffusion ou
          l'affichage de tout contenu sans l'autorisation expresse de
          PersonnagesIndexValtortaFr, est strictement interdite.
        </p>

        <h4>3. Utilisation Interdite</h4>

        <p class="mb-5">
          Il est interdit de copier, reproduire, distribuer, publier, modifier
          ou exploiter de quelque manière que ce soit tout contenu de ce site
          sans autorisation préalable écrite de PersonnagesIndexValtortaFr. Vous
          ne pouvez pas utiliser le site de manière à endommager, désactiver,
          surcharger ou altérer le site ou interférer avec l'utilisation et la
          jouissance du site par d'autres utilisateurs.
        </p>

        <h4>4. Modifications de la Charte d'Utilisation</h4>

        <p class="mb-5">
          PersonnagesIndexValtortaFr se réserve le droit de modifier cette
          charte d'utilisation à tout moment. Les modifications prendront effet
          dès leur publication sur cette page. Il est de votre responsabilité de
          consulter régulièrement cette page pour vous tenir informé des mises à
          jour.
        </p>

        <h4>5. Contact</h4>

        <p class="mb-5">
          Pour toute question concernant cette charte d'utilisation, veuillez
          nous contacter en vous rendant sur la page
          <a routerLink="/contact" class="chart-link">Contact</a>.
        </p>

        <p class="mb-5">
          En utilisant ce site, vous acceptez les termes de cette charte
          d'utilisation. Merci de votre visite et de votre compréhension.
        </p>
      </p-card>
    </div>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
